@inherits LayoutComponentBase

<div class="auth-wrapper">
    @Body
</div>

<style>
    .auth-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 10px;
        background-color: #F2F4F7;
    }
</style>

@code {
}