@using Blazor.Server.Services.Interfaces
<!--=============== HEADER ===============-->
<header class="header">
    <nav class="nav container">
        <div class="nav__data">
            <AuthorizeView>
                <a href="#" class="nav__logo">
                    <i class="ri-planet-line"></i> @context.User.FindFirst("TenantName")?.Value
                </a>
            </AuthorizeView>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-line nav__burger"></i>
                <i class="ri-close-line nav__close"></i>
            </div>
        </div>
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li><a href="dashboard/home" class="nav__link">Home</a></li>

                <li class="dropdown__item">
                    <div class="nav__link">
                        Admin <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li class="dropdown__subitem">
                            <div class="dropdown__link">
                                <i class="ri-bar-chart-line"></i> Roles <i class="ri-add-line dropdown__add"></i>
                            </div>

                            <ul class="dropdown__submenu">
                                <li>
                                    <a href="/role/index" class="dropdown__link">
                                        <i class="ri-user-line"></i> Role List
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown__subitem">
                            <div class="dropdown__link">
                                <i class="ri-bar-chart-line"></i> Other Controls <i class="ri-add-line dropdown__add"></i>
                            </div>

                            <ul class="dropdown__submenu">
                                <li>
                                    <a href="/dialog-control" class="dropdown__link">
                                        <i class="ri-message-3-line"></i> Dialog Control
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown__item">
                    <div class="nav__link">
                        Components <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li class="dropdown__subitem">
                            <div class="dropdown__link">
                                <i class="ri-bar-chart-line"></i> Input Controls <i class="ri-add-line dropdown__add"></i>
                            </div>

                            <ul class="dropdown__submenu">
                                <li>
                                    <a href="/textbox-control" class="dropdown__link">
                                        <i class="ri-user-line"></i> TextBox
                                    </a>
                                </li>
                                <li>
                                    <a href="/textarea-control" class="dropdown__link">
                                        <i class="ri-user-line"></i> TextArea
                                    </a>
                                </li>

                                <li>
                                    <a href="/radiobutton-control" class="dropdown__link">
                                        <i class="ri-lock-line"></i> Radio
                                    </a>
                                </li>

                                <li>
                                    <a href="/calendar-control" class="dropdown__link">
                                        <i class="ri-message-3-line"></i> Calendar Control
                                    </a>
                                </li>

                                <li>
                                    <a href="/checkbox-control" class="dropdown__link">
                                        <i class="ri-message-3-line"></i> Checkbox Control
                                    </a>
                                </li>

                                <li>
                                    <a href="/colorpicker-control" class="dropdown__link">
                                        <i class="ri-message-3-line"></i> ColourPicker Control
                                    </a>
                                </li>

                                <li>
                                    <a href="/combobox-control" class="dropdown__link">
                                        <i class="ri-message-3-line"></i> ComboBox Control
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown__subitem">
                            <div class="dropdown__link">
                                <i class="ri-bar-chart-line"></i> Other Controls <i class="ri-add-line dropdown__add"></i>
                            </div>

                            <ul class="dropdown__submenu">
                                <li>
                                    <a href="/dialog-control" class="dropdown__link">
                                        <i class="ri-message-3-line"></i> Dialog Control
                                    </a>
                                </li>

                                <li>
                                    <a href="/fileupload-control" class="dropdown__link">
                                        <i class="ri-message-3-line"></i> File Upload Control
                                    </a>
                                </li>

                                <li>
                                    <a href="/listbox-control" class="dropdown__link">
                                        <i class="ri-message-3-line"></i> ListBox Control
                                    </a>
                                </li>

                                <li>
                                    <a href="/listview-control" class="dropdown__link">
                                        <i class="ri-message-3-line"></i> ListView Control
                                    </a>
                                </li>

                                <li>
                                    <a href="/multicolumncombobox-control" class="dropdown__link">
                                        <i class="ri-message-3-line"></i> Multi ComboBox
                                    </a>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown__item">
                    <div class="nav__link">
                        Demos <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                    </div>

                    <ul class="dropdown__menu">
                        <li>
                            <a href="/demo1" class="dropdown__link">
                                <i class="ri-user-line"></i> Demo 1
                            </a>
                        </li>
                        <li>
                            <a href="/demo2" class="dropdown__link">
                                <i class="ri-user-line"></i> Demo 2
                            </a>
                        </li>

                        <li>
                            <a href="/demo3" class="dropdown__link">
                                <i class="ri-lock-line"></i> Demo 3
                            </a>
                        </li>

                        <li>
                            <a href="/demo4" class="dropdown__link">
                                <i class="ri-message-3-line"></i> Demo 4
                            </a>
                        </li>
                    </ul>
                </li>

                <AuthorizeView Roles="Admin">
                    <!--=============== LINK 2 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            System <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-user-line"></i> Tenant Types
                                </a>
                            </li>
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-user-line"></i> Tenants
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-lock-line"></i> Users
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-message-3-line"></i> Roles
                                </a>
                            </li>
                        </ul>
                    </li>
                </AuthorizeView>

                <AuthorizeView Roles="Customer">
                    <!--=============== DROPDOWN 1 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Analytics <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-pie-chart-line"></i> Overview
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-arrow-up-down-line"></i> Transactions
                                </a>
                            </li>

                            <!--=============== DROPDOWN SUBMENU ===============-->
                            <li class="dropdown__subitem">
                                <div class="dropdown__link">
                                    <i class="ri-bar-chart-line"></i> Reports <i class="ri-add-line dropdown__add"></i>
                                </div>

                                <ul class="dropdown__submenu">
                                    <li>
                                        <a href="#" class="dropdown__sublink">
                                            <i class="ri-file-list-line"></i> Documents
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="dropdown__sublink">
                                            <i class="ri-cash-line"></i> Payments
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="dropdown__sublink">
                                            <i class="ri-refund-2-line"></i> Refunds
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <!--=============== DROPDOWN 2 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Settings <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-user-line"></i> Profiles
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-lock-line"></i> Accounts
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-message-3-line"></i> Messages
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!--=============== DROPDOWN 3 ===============-->
                    <li class="dropdown__item">
                        <div class="nav__link">
                            Inventory <i class="ri-arrow-down-s-line dropdown__arrow"></i>
                        </div>

                        <ul class="dropdown__menu">
                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-user-line"></i> Categories
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-lock-line"></i> Items
                                </a>
                            </li>

                            <li>
                                <a href="#" class="dropdown__link">
                                    <i class="ri-message-3-line"></i> Sales
                                </a>
                            </li>
                        </ul>
                    </li>
                </AuthorizeView>
                <li @onclick="LogoutClicked"><a href="#" class="nav__link">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>

@code {


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _IJSRuntime.InvokeVoidAsync("showMenu", "nav-toggle", "nav-menu");
            StateHasChanged();
        }
    }

    private void LogoutClicked()
    {
        _NavigationManager.NavigateTo("/logout", forceLoad: true);
    }

}
