@inherits LayoutComponentBase

<div class="app-wrapper">
    <aside class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="company-container">
                <img src="images/logo.jpg" alt="logo" />
                <span class="company-name">Webport</span>
            </div>

            <i class="fa-regular fa-square-caret-left toggle-arrow"></i>
        </div>
        <nav class="sidebar-navbar">
            <ul>
                <li class="menu-title-li">General</li>
                <li class="menu-li has-submenu">
                    <a class="menu-a">
                        <i class="fa-solid fa-file-invoice"></i>
                        <div class="menu-name-div">
                            <span>Invoicinsg</span>
                            <i class="fa-solid fa-angle-down toggle-icon"></i>
                        </div>
                    </a>

                    <ul class="sub-menu">
                        <li>
                            <a href="#" class="menu-a">
                                <span>Purchase Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="menu-a">
                                <span>Purchase Orders</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-li has-submenu">
                    <a class="menu-a">
                        <i class="fa-solid fa-file-invoice"></i>
                        <div class="menu-name-div">
                            <span>Invoicing</span>
                            <i class="fa-solid fa-angle-down toggle-icon"></i>
                        </div>
                    </a>

                    <ul class="sub-menu">
                        <li>
                            <a href="#" class="menu-a">
                                <span>Purchase Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="menu-a">
                                <span>Purchase Orders</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu-li">
                    <a class="menu-a">
                        <i class="fa-solid fa-file-invoice"></i>
                        <div class="menu-name-div">
                            <span>Invoicing</span>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>
    <div class="overlay" id="overlay"></div>
    <main class="main-container">
        <div class="main-header-div">
            <i class="fa-solid fa-bars menu-toggle" id="menu-toggle"></i>

            <div class="div"><h1>Dashboard</h1></div>
        </div>
        <div class="main-body-div">
            <h1>Inventory</h1>
        </div>
        <div class="main-footer-div">
            <h1>Inventory</h1>
        </div>
    </main>
</div>