@page "/datagrid"

@using Blazor.Server.Services.Interfaces
@using Syncfusion.Blazor.Grids
<h3>DataGridComponent</h3>

<SfGrid DataSource="@Orders" />

@code{
    public List<Order>? Orders { get; set; }

    protected override void OnInitialized()
    {
        Orders = Enumerable.Range(1, 5).Select(x => new Order()
        {
            OrderID = 0 + x,
            CustomerID = "5",
        }).ToList();
    }

    public class Order
    {
        public int? OrderID { get; set; }
        public string? CustomerID { get; set; }

    }
}