/* ============= GLOBAL CSS =============== */

/* Google Font */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Global Variables */

:root {
    /* Colors */
    --body-color: #f8f8fa;
    --sidebar-color: #ffffff;
    --primary-color: #695cfe;
    --primary-color-light: #f6f5ff;
    --toggle-color: #ddd;
    --text-color: #1b2124;
    /* ===== Sizes ===== */
    --sidebar-width: 250px;
    --sidebar-width-collapsed: 70px;
    --header-height: 50px;
    --content-padding: 20px;
    --border-radius: 12px;
    --footer-height: 40px;
    /* Font */
    --font-family: "Roboto", sans-serif;
    --font-family-2: "Plus Jakarta Sans", sans-serif;
    /* Transitions */
    --tran-fast: all 0.2s ease;
    --tran-medium: all 0.3s ease;
    --tran-slow: all 0.5s ease;
    --tran-slowest: all 3s ease;
}

/* Global Reset */

* {
    font-family: var(--font-family-2);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-fast); /* Transition for background color changes */
}

/* ============= SIDEBAR =============== */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--sidebar-width);
    z-index: 1000;
    background-color: var(--sidebar-color);
    transition: var(--tran-slow); /* Smooth expand/collapse animation */
    will-change: width; /* Performance optimization */
}

    .sidebar.close {
        width: 80px;
    }

    /* sidebar visible */
    .sidebar.active {
        left: 0;
    }

    .sidebar:hover {
        width: var(--sidebar-width);
    }

/* ============= SIDEBAR HEADER =============== */

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.company-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

    .company-container img {
        width: 40px;
    }

/* ============= SIDEBAR NAVBAR =============== */

.menu-li {
    line-height: 40px;
}

.menu-a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-size: 12px;
    padding: 0 20px;
    transition: var(--tran-slow);
    cursor: pointer;
}

    .menu-a:hover {
        background: linear-gradient(to right, #e0e0e0, #ffffff);
    }

    .menu-a i {
        font-size: 12px;
        color: var(--text-color);
        margin-right: 10px;
    }

.menu-name-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sub-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

    .sub-menu.show {
        max-height: 500px;
    }

.menu-title-li {
    display: flex;
    align-items: center;
    background-color: whitesmoke;
    height: 36px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    color: #8d8d8d;
    padding-left: 20px;
    font-weight: 500;
}

/* ============= MAIN CONTENT =============== */

.main-container {
    margin-left: var(--sidebar-width);
    padding-top: var(--header-height);
}

.main-header-div {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: var(--header-height);
    width: 100%;
    background-color: #695cfe;
}

.main-footer-div {
    position: fixed;
    bottom: 0;
    height: var(--footer-height);
    width: 100%;
    background-color: #695cfe;
}

/* ============= BUTTONS =============== */

.menu-toggle {
    display: none;
    cursor: pointer;
}

.toggle-arrow {
    cursor: pointer;
}

/* ============= OVERLAY =============== */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
}

    .overlay.active {
        opacity: 1;
        visibility: visible;
    }

/* ============= REUSABLE STYLES =============== */

.hide {
    display: none;
}

/* ============= RESPONSIVE =============== */

@media (max-width: 1024px) {
    .toggle-arrow {
        display: none;
    }

    .sidebar {
        left: -250px;
    }

    .main-container {
        margin-left: 0;
    }

    .menu-toggle {
        display: block;
    }
}

@media (max-width: 400px) {
    .sidebar {
    }
}
